@font-face {
    font-family: 'Learning Curve';
    src: url('LearningCurve.woff2') format('woff2'),
        url('LearningCurve.woff') format('woff'),
        url('LearningCurve.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Louis George Cafe'';
    src: url('LouisGeorgeCafe.woff2') format('woff2'),
        url('LouisGeorgeCafe.woff') format('woff'),
        url('LouisGeorgeCafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bellerose';
    src: url('BelleroseLight.woff2') format('woff2'),
        url('BelleroseLight.woff') format('woff'),
        url('BelleroseLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

