@font-face {
    font-family: 'Louis George Cafe';
    src: url('Font/BelleroseLight/LouisGeorgeCafe.woff2') format('woff2'),
        url('Font/BelleroseLight/LouisGeorgeCafe.woff') format('woff'),
        url('Font/BelleroseLight/LouisGeorgeCafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    padding: 0px;
    margin: 0px;
}

#div_topbar {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 65px;
    background-color: #1C1C1C;
}

#topbar {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 800px;
    height: 65px;
    margin-left: -400px;
}

#topbar td {
    width: 30%;
    text-align: center;
    font: 24px "Louis George Cafe";
    font-weight: 300;
    font-style: normal;
    color: whitesmoke;
}

#gauss-icona {
    width: 10%;
}

#topbar a:hover {
    text-shadow: yellow 0px 0px 10px;
    color: yellow;
    transition-duration: 0.2s;
}

#topbar img {
    position: relative;
    left: 0px;
    width: 55px;
    height: 55px;
}

li a:hover {
    color: yellow;
    transition-duration: 0.2s;
}

a:link {
    text-decoration-line: none;  
    color: whitesmoke;
}

a:visited {
    text-decoration-line: none;  
    color: whitesmoke;
}

#space {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
}
#indice {
    text-align: center;
}

#elenco-indice {
    position: relative;
    top: 0px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    list-style-type: none;
    padding: 0px;
}

#elenco-indice li {
    font: 20px "Louis George Cafe";
    color: white;
    text-align: center;
    padding-top: 5px;
}

h1 {
    font: 24px "Louis George Cafe";
    position: relative;
    top: 0px;
    left: 50%;
    width: 800px;
    margin: 10px 0px 0px -400px;
    padding: 0px;
    color: yellow;
}

.paragraph {
    font: 18px "Louis George Cafe";
    position: relative;
    top: 0px;
    left: 50%;
    width: 800px;
    margin: 10px 0px 0px -400px;
    padding: 0px;
    color: white;
}

#quote {
    font: 18px "Louis George Cafe";
    position: relative;
    top: 0px;
    left: 50%;
    width: 800px;
    margin: 20px 0px 20px -400px;
    padding: 0px;
    text-align: center;
    color: yellow;
}

img.formula {
    position: relative;
    top: 0px;
    left: 50%;
    width: 340px;
    margin: 15px 0px 15px -170px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}

footer {
    position: relative;
    font: 30px "Louis George Cafe";
    color: #FF6666;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 50px 0px 50px 0px;
    text-align: center;
}

embed {
    position: relative;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 8800px;
}

#gauss {
    position: relative;
    top: 0px;
    left: 50%;
    width: 800px;
    margin: 0px 0px 0px -400px;
}

#gauss td {
    width: 50%;
    font: 20px "Louis George Cafe";
    color: white;
}

#gauss img {
    width: 300px;
    margin: 50px;
}

#disquisitiones-arithmeticae {
    position: relative;
    top: 0px;
    left: 50%;
    width: 800px;
    margin: 0px 0px 0px -400px;
}

#disquisitiones-arithmeticae td {
    font: 20px "Louis George Cafe";
    color: white;
}

td.td-img {
    width: 30%;
}

td.td-text {
    width: 70%;
}

#disquisitiones-arithmeticae img {
    height: 400px;
    margin: 50px;
}

ul.paragraph {
    list-style-type: circle;
}

#gauss-footer {
    position: relative;
    top: 0px;
    left: 0px;
    width: 200px;
    left: 50%;
    padding-top: 80px;
    margin: 0px 0px 0px -100px;
}

.trigger {
    font: 14px "Louis George Cafe";
    color: yellow;
    position: relative;
    top: 0px;
    left: 0px;
    width: 800px;
    margin: -5px 0px 0px 15px;
}

.trigger:hover {
    cursor: pointer;
}

#popup {
    font: 18px "Louis George Cafe";
    font-weight: bold;
    color: #FF6666;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: 30px;
    left: 50%;
    width: 200px;
    padding: 10px;
    margin-left: -100px;
}

#popup:hover {
    background-color: #F2F2F2;
    transition-duration: 0.3s;
}
