@font-face {
    font-family: 'Louis George Cafe';
    src: url('Asset/Fonts/BelleroseLight/LouisGeorgeCafe.woff2') format('woff2'),
        url('Asset/Fonts/BelleroseLight/LouisGeorgeCafe.woff') format('woff'),
        url('Asset/Fonts/BelleroseLight/LouisGeorgeCafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coolvetica';
    src: url('Asset/Fonts/coolvetica/coolvetica.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(Asset/Img/sfondo01.jpg);
    background-position: center;
    background-size: cover;
    background-color: #00CC99;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

#opacity {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: lightgrey;
}

a:active {
    color: black;
    text-decoration-line: none;
}

a {
    color: black;
    text-decoration-line: none;
}

a:enabled {
    color: black;
    text-decoration-line: none;
}

a:visited {
    color: black;
    text-decoration-line: none;
}

a:hover {
    color: gray;
    text-decoration-line: none;
}

#central {
    position: absolute;
    width: 800px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -200px;
    background-color: white;
    box-shadow: 0px 0px 15px black;
}

#central div {
    position: relative;
    width: 50%;
    height: 100%;
    left: 400px;
    top: -400px;
}

#central-img {
    position: relative;
    height: 100%;
    top: 0px;
    left: 0px;
}

#central p {
    margin: 0px;
}

.title {
    font: 34px "Coolvetica";
    position: relative;
    text-align: center;
    padding-top: 100px;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
}

.subtitle {
    font: 28px "Coolvetica";
    position: relative;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
}

.linkedin {
    position: relative;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 50%;
    margin-left: -20px;
    box-shadow: 0px 0px 8px black;
}

#details {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0px;
    width: 100%;
}

#mypath {
    font: 24px "Coolvetica";
    text-align: right;
    position: relative;    
    width: 100%;
    top: 0px;
    left: 0px;
    padding-top: 50px;
}

#mypath img {
    position: relative;
    float: right;
    width: 50px;
    height: 50px;
    padding: 0px 0px 0px 10px;
    margin: 0px 120px 0px 0px;
}

#path {
    font: 40px "Coolvetica";
    text-shadow: 0px 0px 15px lightgray;
    position: relative;
    text-align: center;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 20px;
}

.path-element {
    font: 20px "Coolvetica";
    text-align: center;
    position: relative;
    width: 600px;
    height: auto;
    left: 50%;
    margin: 0px 0px 0px -300px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    padding: 20px;
}

.null {
    visibility: hidden;
}

#liceo {
    width: 70px;
}

.path-element img {
    position: inherit;
    float: left;
    width: 80px;
    margin: 0px;
    padding: 0px;
}

.dots {
    position: relative;
    width: 40px;
    left: 50%;
    margin: 15px 0px 0px -20px;
    padding: 0px;
}